<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #00358e">
    <div class="container-fluid">
      <img class="logo" src="img/APLogo-20-20.png" alt="" />
      <img class="logo" src="img/LogosInti.png" alt="" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="#"
              style="color: antiquewhite"
              >sobre mi</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: antiquewhite"
              >Educacion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: antiquewhite"
              >habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: antiquewhite"
              >redes sociales</a
            >
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            style="background-color: white"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
  <h1>Sobre mi</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem
    cum, eius reiciendis ducimus doloremque similique earum quod laboriosam
    suscipit alias quisquam expedita obcaecati consequatur accusantium commodi
    vero accusamus perspiciatis numquam?
  </p>
</header>
